.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
  font-size: 1.25rem;
  color: #0A0A0A;
}

.main {
  flex: 1 0 auto;
}

.hero {
  padding: 64px 24px;
  text-align: left;
}

.footer {
  padding: 24px;
  text-align: center;
  background: #0a0a0a;
  color: white;
}
